<%- include('header'); %>
<div class="box" id="heading">
    <h1>About</h1>
</div>
<div class="box">
    <p>
        My name is Mayank Kakkar and I am learning Web Development :)
    </p>
</div>
<%- include('footer'); %>